.main-score {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 70px;
  padding: 30px 10px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  .main-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    &-info {
      display: flex;
      align-items: center;
    }

    &-avatar {
      margin-right: 25px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }    

    &-name {
      font-family: 'Roboto', 'Arial', sans-serif;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.1px;
      margin-bottom: 7px;
    }

    &-score {
      font-weight: 500;

      .score {
        color: #2196F3;
      }
    }
  }
}